$font-fingerprint:  'Monoton', cursive;
$font-fingerprint-size: 30px;
$font-menu-options: 'Fredericka the Great', cursive;
$font-articles : 'Open Sans Condensed', sans-serif;
$font-article-title-size: 25px !important;
$font-size-article-text: 14px;

$pink-color: #F90688;
$background-color: #F8F9FA !important;
$card-icons-color : #FF6600;